# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.py[cod]
venv/
env/
.venv/
.env/
*.sqlite3
*.db
.mypy_cache/
.pytest_cache/
pip-log.txt

# Node.js(React)
node_modules/
npm-debug.log*
build/
dist/
.env

# VSCode & IDE
.vscode/
*.code-workspace
.idea/

# docs
~$*.pptx
